@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}

html, body{
    height: 100%;
    padding: 0;
    scroll-behavior: smooth;
    background: #f7f5f2;
    color: #666;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

h1 {
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1000px;
    height: 40px;
}

h2, h3, h4, h5, p {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

h2 {
    line-height: 1.25;
    padding-top: 45px;
    font-weight: 300;
}

h5, p {
    font-weight: 200
}

svg {
    padding: 0;
}

text {
    font-size: 10px;
}

strong {
    font-weight: 600;
}

#graphic {
    max-width: 1440px;
    width: 100%;
    position: relative;
    height: 100%;
    margin: auto;
}

.container {
    height: 100%;
    max-width: 400px;
    width: 100%;
    margin: 0;
    padding-top: 45px;
    position: absolute;
    line-height: 1.5;
    left: 880px;
}

.container div {
    height: 100%;
    display: block;
    padding: 0 45px;
}

.fixed {
    position: fixed;
    max-width: 880px;
    height: 600px;
    top: 90px;
    padding: 0 20px;
}

/* for bubble chart */

#tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #edc948;
    border: 0;
    border-radius: 5px;
    pointer-events: none;
}

.hidden {
    display: none;
}

.legend-title {
    font-weight: bold;
}

/* for timeline + multiline */
#timeline-context, #timeline-focus {
    text-align: center;
    box-sizing: border-box;
}

.timeline-container {
    display: block;
}

.timeline-svg .time-axis {
    pointer-events: none;
}

.timeline-svg .axis-title {
    fill: black;
}

.timeline-svg .chart-title {
    fill: black;
    font-size: 2em;
    text-anchor: middle;
}

.timeline-svg .event, .timeline-svg .legend-event {
    stroke-width: 1px;
    stroke: black;
    opacity: 0.7;
    overflow: visible;
}

.domain {
    stroke-width: 1.5px;
}

.tick line {
    stroke-width: 1.5px;
}

.timeline-svg .timeline-hoverline line {
    stroke: black;
    pointer-events: none;
}

.sentiment-axis .tick line, .polling-axis .tick line{
    opacity: 0.5;
    stroke-dasharray: 5, 5;
}

.timeline-svg .line-path {
    fill: none;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
}

.timeline-svg .multiline-data .line-path:hover, .timeline-svg .polling-data .line-path:hover {
    stroke-width: 8;
}

.timeline-tooltip b {
    font-weight: bold;
}