#tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #edc948;
    border: 0;
    border-radius: 5px;
    pointer-events: none;
}

.hidden {
    display: none;
}

.legend-title {
    font-weight: bold;
}