@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

#timeline-context, #timeline-focus {
    text-align: center;
    box-sizing: border-box;
}

.timeline-container {
    display: block;
}

.timeline-svg .axis-title {
    fill: black;
    /*font-size: 1.5em;*/
}

.timeline-svg .chart-title {
    fill: black;
    font-size: 2em;
    text-anchor: middle;
}

.timeline-svg .event, .timeline-svg .legend-event {
    stroke-width: 1px;
    stroke: black;
    opacity: 0.7;
    overflow: visible;
}

.domain {
    stroke-width: 1.5px;
}

.tick line {
    stroke-width: 1.5px;
}

.timeline-svg .timeline-hoverline line {
    /*stroke-width: 2px;*/
    stroke: black;
    pointer-events: none;
}

.sentiment-axis .tick line {
    opacity: 0.5;
    /*stroke-width: 1px;*/
    stroke-dasharray: 5, 5;
}

.timeline-svg .multiline-data .line-path {
    fill: none;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    mix-blend-mode: multiply;
}

.timeline-svg .multiline-data .line-path:hover {
    stroke-width: 8;
}

